@import "tailwindcss";

@theme {
  --color-background: #f4f4f4;
  --color-foreground: #171717;
  --font-sans: var(--font-lato);
  --font-great-vibes: var(--font-great-vibes);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
  }
}
